:root {
  --primary-color: #2E2F42;
  --secondary-color: #ffffff;
  --accent-color: #4D5AE5;
  --text-color: #434455;
  --hover-focus: #404bbf;
  --white-text:#f4f4fd;
  --btn-border-color:#e7e9fc;
  --currentColor: #8E8F99;
  --navyblue-modal: rgba(46, 47, 66, 0.40);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --dairy-color: #FCFCFC;
  --footer-sm-link-color:#31d0aa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--secondary-color);

}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.list {
  list-style-type: none;
  color: inherit;
  }
  
.link {
  text-decoration: none;
  font-style: normal;
  color: var(--primary-color);
  }
  
.menu-link {
  /* position: relative; */
  color: var(--text-color);
  display: block;
  transition: color var(--transition-dur-and-func);
  padding: 24px 0;
}

.active {
  position: relative;
  color: var(--hover-focus);
}

.active::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--hover-focus);
  border-radius: 2px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--hover-focus);
}

.filter-btn{
  background-color: var(--white-text);
  border: 1px solid var(--btn-border-color);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color:  var(--accent-color);
  padding: 12px 24px;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, 
.filter-btn:focus {
  color: var(--secondary-color);
  background-color: var(--hover-focus);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 2px 1px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
  
}


.page-header {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 1px 6px rgba(46, 47, 66, 0.08);
  }

.page-header-container {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  padding: 0 15px;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight:800;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.logotype-text-bold {
  font-family: 'Raleway', sans-serif;
  color: var(--primary-color);
}

.menu-list {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
  gap: 40px;
}
.contacts {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--text-color);
  transition: color var(--transition-dur-and-func);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-focus);
}

.contact-list {
  display: flex;
  gap: 40px;

}

.hero {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-color);
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
  rgba(46, 47, 66, 0.70),
  rgba(46, 47, 66, 0.70)
  ),
  url('../images/people-office-hero-banner.jpg');
  background-size: cover;
}

.first-section {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

}


.main-title {
  color: var(--secondary-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
}

.order-service-btn {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 48px auto 0 auto;
  transition: transform 250ms var(--transition-dur-and-func);
  transition: background-color var(--transition-dur-and-func);
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: var(--hover-focus) ;
  color: var(--secondary-color);
}


.values {
  padding: 120px 0;
}

.values-list {
  display: flex;
  gap:24px;
}

.value-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--white-text);
  border-radius: 4px;
  margin-bottom: 8px;
}

.values-list-item {
  width: calc((100% - 24px * 3) / 4);
}

/* .values-list-icon {
  margin: 24px 100px;
} */


.value-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  margin-bottom: 8px;
  letter-spacing: 0.4px;
  font-style: normal;
}

.value-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.services {
  padding-bottom: 120px;
}

.services-list {
  display: flex;
  gap:24px;
}

.services-list-item {
  width: calc((100% - 2 * 24 / 3));
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-bottom: 72px;
}

.team {
  background-color: var(--white-text);
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {      
  background-color: var(--secondary-color);
  width: calc((100% - 3 * 24 / 4));
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member {
  padding: 32px 0; 
}

.team-member-name {
  text-align: center;
  margin-bottom: 8px;
}
.team-member-role {
  text-align: center;
}

.customers {
  padding: 120px 0;
}

.portfolio {
  padding: 96px 0 120px 0;
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: var(--accent-color);
 color: var(--white-text);
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.32px;
 padding: 40px 32px;

 transform: translateY(100%);
 transition: transform var(--transition-dur-and-func);
}

/* .portolio-list-item:hover .overlay,
.portolio-list-item:focus .overlay {
  transform: translateY(0%);
} */


.filter-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;      
  width: calc((100% - 4*24)/5);
  justify-content: center;
}

.filter-list-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.filter-list-item:hover,
.filter-list-item:focus  {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  
}

.portfolio-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-link:hover, 
.portfolio-list-link:focus {
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link:hover .overlay,
.portfolio-list-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-list-item {
  width: calc((100% - 24px * 2) /3 );
}




.portfolio-item-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;   
  color: var(--text-color);
}

.portfolio-description {
  padding: 32px 16px;
  border: 1px solid var(--btn-border-color);
  border-top: none;
}

.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 100px 0;

}

.footer .logotype {
  color: var(--accent-color);
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logotype-text-bold {
  color: var(--white-text);
}


.footer-text {
  line-height: 1.5;
  color: var(--white-text);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.customers-list {
  display: flex;
  box-sizing: border-box;
  gap: 24px;
}

.customer-list-link {
  fill: var(--currentColor);
  width: 100%;
  height: 100%;
  border: 1px solid var(--currentColor);
  border-radius: 4px;
  display: flex;
  align-items: center;    
  justify-content: center;
  color: var(--currentColor);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list-link:hover,
.customer-list-link:focus {
  border-color: var(--hover-focus);
  color: var(--hover-focus);
  fill: var(--hover-focus);
  }   

.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-list-icon {
  fill: var(--white-text);
  
}

.social-list-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}


.social-list-icon-wrapper:hover,
.social-list-icon-wrapper:focus {
 background-color: var(--hover-focus);
}



.footer .social-media-list {
  display: flex;                      
  gap: 16px;
}
.footer .social-list-item .social-list-icon-wrapper:hover, 
.footer .social-list-item .social-list-icon-wrapper:focus {
  display: flex;
  gap: 16px;    
  background-color: var(--footer-sm-link-color);
}


.team-member .social-media-list {
  margin-top: 8px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}


.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 120px;
}

 .footer-text  {
  margin-bottom: 16px;
  font-weight: 500;
  color:  var(--secondary-color);
  
}
.footer-right {
  margin-left: 80px;
}

.subscribe-btn {
 min-width: 165px;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.04em;
 color: var(--secondary-color);
 cursor: pointer;
 background-color: var(--accent-color);
 border: none;
 border-radius: 4px;
 transition: background-color var(--transition-dur-and-func);
}


.subscribe-btn:hover, 
.subscribe-btn:focus {
 background-color: var(--hover-focus);
} 


.subscribe-icon {
  margin-left: 16px;
  fill: var(--white-text);
}

.email-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--secondary-color);
}

.email-input::placeholder {
  color: var(--secondary-color);
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  background-color: var(--dairy-color);
  border-radius: 4px;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  background-color: var(--btn-border-color);
  border: 1px solid rgba(0, 0, 0, 0.1); 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--secondary-color);
  background-color: var(--hover-focus);
  border: none;
}


.close-btn-icon {
  stroke: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-icon:hover, 
.close-btn-icon:focus {
  fill: var(--secondary-color);
}


.modal-heading {
  color: var(--primary-color);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-input-container {
  margin-bottom: 8px;
}
.modal-textarea-container {
  margin-bottom: 16px;
}

.modal-input {
  display: block;
  font-size: 12px;
  line-height:1.17;
  letter-spacing: 0.04em;
  color: var(--currentColor);
  margin-bottom: 4px;
}

.modal-input-form {
  position: relative;
}

.modal-input-item {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline:transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.modal-input-item:focus {
  border-color: var(--accent-color);
}

.modal-icon {
  fill: var(--primary-color);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-item:focus + .modal-icon  {
 fill: var(--accent-color);
}

.modal-text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area:focus {
  border-color: var(--accent-color);
}

.modal-check-box-container {
  margin-bottom: 24px;
}

.feedback-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--currentColor);
  display: block;
}

.original-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.feedback-form-checkbox:focus + .feedback-form-checkbox-label > .original-checkbox {
  border: 1px solid var(--hover-focus);
}


.feedback-form-checkbox:checked + .feedback-form-checkbox-label > .original-checkbox {
  background-color: var(--hover-focus);
  border: none;
  fill: var(--white-text);
}


.privacy-link {
  color: var(--accent-color);
  transition: color 250ms var(--transition-dur-and-func);
}

.privacy-link:hover,
.privacy-link:focus {
  color: var(--hover-focus);
}


.feedback-btn {
 display: block;
 min-width: 169px;
 height: 56px;
 font-family: "Roboto", sans-serif;
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.04em;
 color: var(--secondary-color);
 cursor: pointer;
 background-color: var(--accent-color);
 border: none;
 border-radius: 4px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 margin: 24px auto;
}

.feedback-btn:hover,
.feedback-btn:focus {
   background-color: var(--hover-focus);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


